* {
    box-sizing: border-box;
    
}

label{
    display:block;
}
.form{
    padding: 10px;
}

.container{
    margin: 0 auto;
    width: 650px;
}

ul{
    list-style-type: none;
}

.form, .intro-screen, .correct-answer, .wrong-answer, .results{
    border: 1px solid black;
    margin-top: 20px;
    height: 400px;
}

.block{
    display: block;
    text-align: center;
}

