* {
    box-sizing: border-box;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("background.jpg") fixed;
}

label{
    display: block;
}

.form{
    padding: 10px;
}

.container{
    margin: 0 auto;
    width: 650px;
    height: 500px;
}

.header{
    margin-top: 30px;
}

.header div{
    display: inline;
    border: 1px solid black;
    width: 300px;
    padding: 10px 20px;
}

.h-question{
    border-radius: 5px 0 0 5px;
    background-color: #40739e;
    box-shadow: 3px 3px 10px black;
}

.h-score{
    border-radius: 0 5px 5px 0;
    background-color: #c23616;
    box-shadow: 3px 3px 10px black;

}
.form, .intro-screen, .correct-answer, .wrong-answer, .results{
    border: 1px solid black;
    margin-top: 20px;
    height: 400px;
}

.block{
    display: block;
    text-align: center;
}

.question-form{
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

