* {
    box-sizing: border-box;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("background.jpg") fixed;
}

button{
    cursor: pointer;
    border: 0px;
    background-color: #40739e;
    padding: 0;
    padding-top: 5px;
    border-radius: 5px;
    margin-top: 20px;
    width: 250px;
    box-shadow: 3px 3px 10px black;
}

fieldset {
    border-radius: 5px;
}

.container{
    margin: 0 auto;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.h-logo img{
    width: 50px;
}

.header{
    margin-top: 65px;
    display: flex;
    justify-content: center;
}

.header div{
    padding: 10px 20px;
}

.h-question{
    border-radius: 5px 0 0 5px;
    background-color: #40739e;
    width: 150px;
    height: 40px;
    align-self: center;
}

.label-container{
    display: flex;
    box-shadow: 3px 3px 10px black;
    padding: 0 !important;
    height: 40px;
    border-radius: 5px;
    align-self: center;
}

.h-score{
    border-radius: 0 5px 5px 0;
    background-color: #c23616;
    
    width: 200px;
    height: 40px;
    align-self: center;
}


.form, .intro-screen, .question-form, .correct-answer, .wrong-answer, .results{
    
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}

form fieldset{
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.intro-screen{
    font-size: 40px;
}

.intro-screen .intro-button{
    font-size: 35px;
}

form .submit-answer{
    font-size: 30px;
}

.question-form h2{
    font-size: 35px;
}

label{
    display: block;
}

.question-form .feedback{
    font-size: 30px;
}

.question-form .feedback .correct{
    font-size: 30px;
    text-decoration: underline;
}

.question-form .feedback .next{
    font-size: 30px;
}

.question-form .results {
    font-size: 35px;
}

.question-form .results .start-new{
    font-size: 30px;
}

.form{
    padding: 10px;
}

.block{
    display: block;
    text-align: center;
}

@media screen and (min-width: 1224px){

    .container{
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .header{
        flex-direction: column;
        margin: 50px;
    }

    .label-container{
        flex-direction: column;

    }

    .h-logo{
        text-align: center;
    }

    .h-question{
        width: 100%;
        border-radius: 5px;
    }

    .h-score{
        border-radius: 5px;
        margin-top: 20px;
        box-shadow: 3px 3px 10px black;
    }

    .question-form{
        width: 750px;
        display: none;
    }

}
